*{
  -webkit-box-sizing:border-box;box-sizing:border-box
  }
body{
  background:#fff
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
label {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}
#search-query {
  width: 100%;
  margin-bottom: 10px;
}
button {
  width: 100%;
}